<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pilkngton.ProjectPaint.PaintApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pilkngton.ProjectPaint.PaintApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pilkngton.ProjectPaint.PaintApp.Properties.Settings>
            <setting name="Camera_LineRate_Hz" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Camera1_AnalogGainSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Image_MaxBlobsSorted" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Image_Threshold" serializeAs="String">
                <value>195</value>
            </setting>
            <setting name="Align_Cam1Startpix" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Align_Cam1Endpix" serializeAs="String">
                <value>2047</value>
            </setting>
            <setting name="Align_Cam2Startpix" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Align_Cam2Endpix" serializeAs="String">
                <value>2047</value>
            </setting>
            <setting name="Camera_WidthPixels" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="Image_OverloadFactor" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="Align_Cam1Startmm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Align_Cam1Endmm" serializeAs="String">
                <value>2003</value>
            </setting>
            <setting name="Align_Cam2Endmm" serializeAs="String">
                <value>3745</value>
            </setting>
            <setting name="Align_Cam2Startmm" serializeAs="String">
                <value>1748</value>
            </setting>
            <setting name="Image_MaxNumBlobs" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="Align_ZoneSizemm" serializeAs="String">
                <value>238</value>
            </setting>
            <setting name="Image_Blob1StartPix" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Image_Blob1EndPix" serializeAs="String">
                <value>2047</value>
            </setting>
            <setting name="Image_Blob2StartPix" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Image_Blob2EndPix" serializeAs="String">
                <value>2047</value>
            </setting>
            <setting name="Alarm_Cam2LightFailEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alarm_Cam2LightFailedCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Image_BlobMinAreaPixels" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Report_BlipSmallAreaPix" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Report_BlipMediumAreaPix" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Report_BlipLargeAreaPix" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Report_StreamSmallWidthPix" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Report_StreamMediumWidthPix" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Report_StreamLargeWidthPix" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Report_ImageSaveFlags" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Image_CalbackTimeMsgEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="System_Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="System_PasswordEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Camera2_AnalogGainSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Camera2_LastPixelforWidth1" serializeAs="String">
                <value>1950</value>
            </setting>
            <setting name="Camera2_LastPixelforWidth2" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="GUI_LogoFile" serializeAs="String">
                <value>Paint Red.jpg</value>
            </setting>
            <setting name="Report_BlipDigOutOnTime_ms" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Report_DigOutLinesDisabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Image_FeintStreamNumFrames" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="Report_FeintStreams" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Image_FeintStreamOffsetThreshold" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Image_FeintStreamPolyOrder" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Image_FeintStreamFIRnotPolyFit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Image_FeintStreamMinSize_mm" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Image_FeintStreamMaxSize_mm" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Image_FeintStreamFIRWidth" serializeAs="String">
                <value>21</value>
            </setting>
        </Pilkngton.ProjectPaint.PaintApp.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Pilkngton.ProjectPaint.PaintApp.Properties.Settings>
            <setting name="Align_NumZones" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="Report_BinnIntervalMins" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Camera_FrameHeightPixels" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="Report_BinnDays" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Report_BlipStartOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Report_MapUpdateSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Report_ImageDir" serializeAs="String">
                <value>.\\Paint Data\\</value>
            </setting>
            <setting name="Image_WhiteBoardFactor" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="OPC_ServerRegistrationAction" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Camera_CommsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Pilkngton.ProjectPaint.PaintApp.Properties.Settings>
    </applicationSettings>
</configuration>